* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: black;
}

h1 {
  text-align: center;
  font-size: 575%;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 1%;
  margin: 23% 0;
}

h2 {
  text-align: center;
  font-size: 200%;
  color: #E5E5E5;
  text-transform: uppercase;
  letter-spacing: 1%;
}

.header {
  background: url(/xyz/img/mountainCloud.jpeg);
  background-size: cover;
   padding-top: .5%;
   padding-bottom: .5%;
}

/*---Start Parallax--*/

  .parallax {
    background: url(/xyz/img/oceanShoreRockCliff.jpeg) fixed repeat;
    background-size: cover;
    padding-top: 50%;
    padding-bottom: 100%; 
  }

/*---End Parallax--*/