* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.image {
  height: 75rem;
  width: 100%;
  background: black;
  z-index: 1;
  margin-bottom: -2.5%;
}

.content {
  height: 75rem;
  width: 100%;
  background: white;
  z-index: 2;
}

.content h1 {
  font-size: 40px;
  color: #464646;
  font-weight: 600;
  margin: 30px 60px;
}

.content p {
  font-size: 20px;
  color: #343434;
  font-weight: 300;
  margin: 30px 60px;
}

#wall_1 {
  background: url(/xyz/img/foggyMountain.jpeg);
  background-size: cover;
  background-attachment: fixed;
}

#wall_2 {
  background: url(/xyz/img/mountainForest.jpeg);
  background-size: cover;
  background-attachment: fixed;
}

#wall_3 {
  background: url(/xyz/img/oceanShore.jpeg);
  background-size: cover;
  background-attachment: fixed;
}

#nav {
  height: 70px;
  width: 100%;
  position: fixed;
}