html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	padding-top: 1rem;
}

body {
	background-image: url(/jccsCustoms/img/plymouth.jpeg);
	background-size: cover;
	background-color: black;
}

.overlay {
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: .5;
}

.welcomeTextDiv {

}

.welcomeText {
	float: left;
	color: white;
	margin-left: 10%;
	margin-bottom: 0;
	font-size: 2rem;
	font-weight: 900;
	font-family: 'Cormorant SC', serif;
}

.phoneNumber {
	float: right;
	color: white;
	margin-right: 10%;
	margin-top: 1%;
	font-size: 1.2rem;
}

.fancyBreak {
	display: inline-block;
	background-color: white;
	margin-left: 10%;
	width: 80%;
	height: .1rem;
}