/*Creates Background Color*/
html, body {
	/*width: 100%;
	margin: 0;*/
}
#time {
	color: white;
	font-size: 100px;
	text-align: center;
	margin-top: 20%;
}
.button-location {
	text-align: center;
}
#button1 {
	margin-right: 100px;
}
#button2 {
	
}