/*/==============================================================={HTML & Body}=======================================================================\*/
html, body {
  margin: 0; 
  height: 100%; 
  overflow: hidden
}
/*/===================================================================================================================================================\*/

/*/==============================================================={Twinkling Background}==============================================================\*/
@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.stars, .twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url(/interactiveResume/img/starfield.png) repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url(/interactiveResume/img/twinkling.png) repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}
/*/==================================================================================================================================================\*/

/*/==============================================================={Main Wrapper}=====================================================================\*/
.wrapper{
  position: relative;
  z-index: 3;
}
/*/==================================================================================================================================================\*/

/*/==============================================================={Content Container}================================================================\*/
.row {
  
}
/*/==================================================================================================================================================\*/

/*/==============================================================={Large Screens}====================================================================\*/
/*@media (min-width: 1200px) {*/
  /*/==============================================================={Outer Circle}===================================================================\*/
  .outerCircle {
    position: absolute;
    height: 60%;
    width: 60%;
    border: .5em solid green;
    border-radius: 50%;
    margin-top: 8%;
    margin-left: -1%;
    z-index: 5;
    /*transform: translateX(-5%);*/
  }
  /*/================================================================================================================================================\*/

  /*/==============================================================={Inner Circle}===================================================================\*/
  .innerCircle {
    position: absolute;
    height: 58%;
    width: 58%;
    background-color: grey;
    border: 4em solid blue;
    border-radius: 50%;
    margin-top: 6.5em;
    z-index: 6;
    /*transform: translate(-3.9% ,-116%);*/
  }
/*}*/
/*/===================================================================================================================================================\*/
.circleContainer {
  position: relative;
  height: 1000px;
  width: 1000px;
}









